<h3>Dear {{name}},</h3>
<h3>Your password reset is success</h3>
<h3>Use the details below as your password</h3>

<p>password: {{password}}</p>

<p>NOTE: Do not share your login details with anyone
</p>

<p>Thank you!
</p>